* {
  background-color: aqua;
}
.text-center {
  font-size: 72px;
}
.card {
  display: flex;
}
.close {
  background: #000000;
}
.modal-img {
  width: 250px;
  height: 250px;
}
.list_point {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.album_cont {
  display: flex;
  align-items: center;
}

