<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <title>TECHNOimg</title>
    <link
      rel="stylesheet"
      href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="https://bootstraptema.ru/plugins/2015/b-v3-3-6/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div id="main">
        <div class="row" id="real-estates-detail">
          <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <header class="panel-title">
                  <div class="text-center">
                    <strong>Профиль</strong>
                  </div>
                </header>
              </div>
              <div class="panel-body">
                <div class="text-center" id="author">
                  <img src="#" />
                  <h3>Фамилия Имя отчество</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <header class="panel-title">
                    <div class="text-center">
                      <strong>Фото и видео</strong>
                    </div>
                  </header>
                </div>
                <div class="panel-body">
                  <div class="text-center" id="author">
                    <img src="#" />
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </body>
</html>
